html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --header-height: 5rem;
  --black: #1a1818;
  --grey: #63615f;
  --light-grey: #a6a4a0;
  --yellow: #db9147;
}
